absl-py==0.7.1
astor==0.7.1
backcall==0.1.0
cffi==1.12.2
cloudpickle==0.8.1
decorator==4.4.0
gast==0.2.2
graphviz==0.10.1
grpcio==1.19.0
h5py==2.9.0
horovod==0.16.1
ipython==7.4.0
ipython-genutils==0.2.0
jedi==0.13.3
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
Markdown==3.1
mmdnn==0.2.5
numpy==1.16.2
onnx==1.4.1
onnx-tf==1.2.1
opencv-python==4.1.0.25
pandas==0.24.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
protobuf==3.7.1
psutil==5.6.1
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.3.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
tensorboard==1.9.0
tensorflow-gpu==1.9.0
termcolor==1.1.0
traitlets==4.3.2
typing==3.6.6
typing-extensions==3.7.2
wcwidth==0.1.7
Werkzeug==0.15.2
